body {
  background-color: #fff;
  font-family: 'Roboto Condensed', sans-serif;
  margin: 0;
  padding: 0;
}

.app-container{
}

.app-container h2 {
  font-size: 22px;
}

.game-title h1 {
  font-size: 50px;
  margin: 0;
  padding-left: 25px;
}

ol, ul {
  padding-left: 30px;
}

.game-board {
  margin-top: 2vh;
}

.board-row:after {
  clear: both;
  content: "";
  display: table;
}

.status {
  margin: 10px;
}

.square {
  background-color: inherit;
  border: 1px solid #999;
  cursor: pointer;
  float: left;
  font-size: 28px;
  font-weight: bold;
  line-height: 50px;
  height: 50px;
  margin-right: -1px;
  margin-top: -1px;
  padding: 0;
  text-align: center;
  width: 50px;
}

.square:focus {
  outline: none;
}

.kbd-navigation .square:focus {
  background: #ddd;
}

.game {
  display: flex;
  flex-direction: row;
}

.game-info {
  margin-left: 20px;
}
